.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    /*контент накладывается сверху не отодвигая другие элементы*/
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    color: red;
    background-color: black;
}

.item.selected {
    background-color: red;
    color:black;
}